@{
    ViewData["Title"] = "Add Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="container">
        <a asp-action="Index">Floor Locations</a>
    </div>
</div>

